<div class="container">
  <br />
  <br />
  <p
    [ngStyle]="{ backgroundColor: getColor() }"
    [ngClass]="{ online: serverStatus === 'offline' }"
  >
    server status is {{ serverStatus }}
  </p>
  <button class="btn btn-warning" (click)="onToggle()">Display Details</button>
  <p *ngIf="showParagraph">Secret Password = 'Billi'</p>

  <p
    *ngFor="let item of timestampArr; let i = index"
    [ngStyle]="{ backgroundColor: i >= 4 ? 'lightblue' : 'white' }"
    [ngClass]="{ greater: item >= 5 }"
  >
    {{ item }}
  </p>
</div>
